{% extends 'base.html.twig' %}

{% block title %}Connexion - Valmont{% endblock %}

{% block body %}
<header class="hero">
    <h1>Valmont - Connexion</h1>
</header>

<main class="container-form">
    <section class="card-form">
        <h2 class="title-form">Se connecter :</h2>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <form method="post">
            <fieldset class="fieldset-form">
                <label for="inputLogin">Identifiant</label>
                <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autocomplete="username" required autofocus>
                
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="btn-form">
                    <button type="submit">Se connecter</button>
                    <button type="reset">Réinitialiser</button>
                </div>
            </fieldset>
        </form>
    </section>
</main>

<footer>
    <p>&copy; 2025 - Valmont | Ville connectée</p>
</footer>
{% endblock %}