<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chasse aux oeufs géante</title>
    <link rel="stylesheet" href="{{ asset('styles/evenements.css') }}">

</head>
<body>

    <nav class="navbar">
        <div class="container-nav">
            <a class="navbar-brand" href="#">Valmont</a>
            <div class="navbar-links">
                <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                <a class="nav-link active" href="{{ path('lieux_interet') }}">Lieux d'intérêt</a>
                <a class="nav-link" href="{{ path('event') }}">Événements</a>
                <a class="nav-link" href="#">Transports</a>
            </div>
            <div class="navbar-actions">
                <input class="search-bar" type="search" placeholder="Rechercher">
                <button class="btn btn-search">Rechercher</button>
                <a href="{{ path('formulaire') }}" class="btn btn-secondary">S'inscrire</a>
                <a href="{{ path('connexion') }}" class="btn btn-tertiary">Se connecter</a>
            </div>
        </div>
    </nav>

    <!-- Section information -->
    <div class="container">
        <h1>Informations pour la chasse aux oeufs géante</h1>

        <div class="event-detail">
            <h2>Chasse aux oeufs géante</h2>
            <p><strong>Date :</strong> 20 avril 2025</p>
            <p><strong>Lieu :</strong> Parc Rosa Parc, Valmont</p>
        </div>
    </div>

</body>
</html>