<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valmont - Connexion</title>
    <link rel="stylesheet" href="{{ asset('styles/formulaire.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container-nav">
            <a class="navbar-brand" href="#">Valmont</a>
            <div class="navbar-links">
                <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                <a class="nav-link active" href="{{ path('ville') }}">Informations sur La Ville</a>
                <a class="nav-link active" href="{{ path('objets') }}">Objets connectés de la ville</a>
            </div>
            <div class="navbar-actions">
                <input class="search-bar" type="search" placeholder="Rechercher">
                <button class="btn btn-search">Rechercher</button>
                <a href="{{ path('formulaire') }}" class="btn btn-secondary">S'inscrire</a>
                <a href="{{ path('connexion') }}" class="btn btn-tertiary active">Se connecter</a>
            </div>
        </div>
    </nav>

    <!-- Formulaire de connexion -->
    <div id="formulaire">
        <h2>Se connecter :</h2>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        {{ form_start(form) }}
        <fieldset>
            {{ form_row(form.pseudo) }}
            {{ form_row(form.motDePasse) }}

            <button type="submit">Se connecter</button>
            <button type="reset">Réinitialiser</button>
        </fieldset>
        {{ form_end(form) }}
    </div>
</body>
</html>
