{% extends 'base.html.twig' %}

{% block body %}
<body>
    <header class="hero">
        <h1>Valmont - Inscription</h1>
    </header>


    <main class="container-form">
        <section class="card-form">
            <h2 class="title-form">Se connecter :</h2>

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}

            {{ form_start(form) }}
            <fieldset class="fieldset-form">

                {{ form_row(form.login) }}
                {{ form_row(form.mot_de_passe) }}

                <div class="btn-form">
                    <button type="submit">Se connecter</button>
                    <button type="reset">Réinitialiser</button>
                </div>

            </fieldset>
            {{ form_end(form) }}
        </section>
    </main>

    <footer>
        <p>&copy; 2025 - Valmont | Ville connectée</p>
    </footer>

    <script src="{{ asset('search-panel.js') }}"></script>
</body>
</html>
{% endblock %}
