<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réservation - Exposition The Valmontier</title>
    <link rel="stylesheet" href="{{ asset('styles/evenements.css') }}">

</head>
<body>

    <nav class="navbar">
        <div class="container-nav">
            <a class="navbar-brand" href="#">Valmont</a>
            <div class="navbar-links">
                <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                <a class="nav-link active" href="{{ path('ville') }}">Informations sur La Ville</a>
                <a class="nav-link active" href="{{ path('objets') }}">Objets connectés de la ville</a>
            </div>
            <div class="navbar-actions">
                <input class="search-bar" type="search" placeholder="Rechercher">
                <button class="btn btn-search">Rechercher</button>
                <a href="{{ path('formulaire') }}" class="btn btn-secondary">S'inscrire</a>
                <a href="{{ path('connexion') }}" class="btn btn-tertiary">Se connecter</a>
            </div>
        </div>
    </nav>

    <!-- Section Réservation -->
    <div class="container">
        <h1>Réservation pour l'exposition The Valmontier'/h1>

        <div class="event-detail">
            <h2>CExposition temporaire The Valmontier</h2>
            <p><strong>Date :</strong>À partir du 12 avril 2025</p>
            <p><strong>Lieu :</strong>Musée du Citronnier</p>

            <form action="confirmation.html" method="POST">
                <label for="nom">Nom :</label>
                <input type="text" id="nom" name="nom" required>

                <label for="email">Email :</label>
                <input type="email" id="email" name="email" required>

                <label for="nb_places">Nombre de places :</label>
                <input type="number" id="nb_places" name="nb_places" min="1" required>

                <button type="submit" class="btn btn-primary">Confirmer la réservation</button>
            </form>
        </div>
    </div>

</body>
</html>