{# templates/home/objets_edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier l'objet{% endblock %}

{% block body %}
<div class="container py-4">
    <h1>Modifier l'objet</h1>
    
    <div class="card">
        <div class="card-header">
            <h5>{{ objet.nom }}</h5>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_row(form.idUnique) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.description) }}
                {{ form_row(form.type) }}
                {{ form_row(form.marque) }}
                {{ form_row(form.etat) }}
                {{ form_row(form.localisation) }}
                {{ form_row(form.connectivite) }}
                {{ form_row(form.batteriePct) }}
                {{ form_row(form.actif) }}
                
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    <a href="{{ path('objets_show', {'id': objet.id}) }}" class="btn btn-secondary">Annuler</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}