{% extends 'base.html.twig' %}

{% block body %}
<body>
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css">
    
    <header class="hero">
        <h1>Valmont - Information</h1>
        <p>Une ville connectée, dynamique et tournée vers l'avenir.</p>
    </header>

<div class="background-image-container">


    <section class="container-grid">
        <div class="card">
            <h2>À propos de Valmont</h2>
            <p>
            <strong>Située entre mer scintillante et collines verdoyantes, Valmont est une ville à taille humaine qui allie douceur de vivre et dynamisme.</strong>
            </p>
            <p>
            Reconnue pour la beauté de ses parcs naturels, la richesse de son patrimoine historique et la vitalité de sa scène culturelle, Valmont offre un cadre de vie exceptionnel à ses habitants comme à ses visiteurs. Chaque année, elle séduit des milliers de nouveaux arrivants par son atmosphère chaleureuse, son engagement fort en faveur du développement durable et sa capacité à conjuguer tradition et modernité.
            </p>
        </div>
        <div class="card">
            <h2>Maire de Valmont</h2>
            <div class="photo-container2">
                    <img src="{{ asset('images/Abdelah.jpeg') }}" alt="Abdelah EL HARSAL" class="photo2"></br>
                    <strong>Abdelah EL HARSAL</strong></br>
                    (mandat 2020–2026)
            </div>
        </div>
    </section>

    <section class="container-grid">

        <div id="lieux" class="card">
            <h2>Lieux d'Intérêt</h2>
            <p>
                Partez à la découverte des richesses de Valmont : musées fascinants, parcs verdoyants, restaurants chaleureux et bibliothèques accueillantes vous ouvrent leurs portes.  
            </p>
            <p>    Que vous soyez passionné d'art, amoureux de nature, fin gourmet ou amateur de lecture, vous trouverez toujours un lieu à explorer pour enrichir votre expérience dans notre ville.
            </p>

            <a href="{{ path('lieux_interet') }}" class="btn btn-primary">Explorer les lieux</a>
        </div>

        <div id="evenements" class="card">
            <h2>Événements Locaux</h2>
            <p>
                Ne manquez aucun événement à Valmont ! Festivals colorés, marchés animés, concerts en plein air et spectacles culturels rythment la vie de notre ville tout au long de l'année.  
            </p>
            <p>
                Venez partager des moments uniques en famille ou entre amis et découvrez une programmation riche et variée qui fait vibrer Valmont.
            </p>

            <a href="{{ path('event') }}" class="btn btn-primary">Voir les événements</a>
        </div>

        <div id="transports" class="card">
            <h2>Transports Publics</h2>
            <p>
                Planifiez vos déplacements en toute simplicité grâce à nos informations sur les transports en commun. 
            </p>
            <p>
                Retrouvez les horaires actualisés ainsi que les localisations des arrêts de bus, de tramways et de métros pour circuler facilement dans toute la ville de Valmont et ses environs.
            </p>
            <a class="btn btn-primary" href="{{ path('bus') }}">Bus</a>
            <a class="btn btn-primary" href="{{ path('tram') }}">TramWay</a>
            <a class="btn btn-primary" href="{{ path('metro') }}">Metro</a>
        </div>

        {% if weather %}
        <div id="meteo" class="card">
            <h2>Météo actuelle</h2>
            <div class="weather-info">
                <i class="wi {{ weather.icon }} weather-icon"></i>
                <div class="weather-details">
                    <p class="temperature">{{ weather.temperature }}°C</p>
                    <p class="description">{{ weather.description|capitalize }}</p>
                    <p>Humidité : {{ weather.humidity }}%</p>
                    <p>Vent : {{ weather.wind_speed }} km/h</p>
                </div>
            </div>
        </div>
        {% endif %}

    </section>

    <section class="container-grid2">
        <div class="card">
            <div class="video-container2">
                <video autoplay muted loop>
                    <source src="{{ asset('video/valmont2.mp4') }}" type="video/mp4">
                    Votre navigateur ne supporte pas la balise vidéo.
                </video>
            </div>
            <h2>Informations pratiques</h2>
            <ul>
                <li><strong>Population :</strong> environ 35 000 habitants</li>
                <li><strong>Code postal :</strong> 12345</li>
                <li><strong>Région :</strong>Côte d'Azur</li>
                <li><strong>Adjoint du maire :</strong> Ayman OUGUERD (mandat 2020–2026)</li>
                <li><strong>Secrétaire :</strong> Louaye SAGHIR</li>
                <li><strong>Responsable sécurité :</strong> Younes SABRI</li>
                <li><strong>Horaires de la mairie :</strong> Lundi à vendredi, 8h30–12h / 14h–17h30</li>
            </ul>
        </div>
    </section>


    <section class="container-grid2">
        <div class="card">
            <h2>Nous contacter</h2>
            <p>
                Pour toute question ou demande d'information, vous pouvez contacter les services suivants.  
                Ce site internet a été imaginé, conçu et développé par notre équipe dans le cadre d'un projet dédié à la ville de Valmont.  
                Si vous rencontrez un problème technique, une erreur ou si vous souhaitez nous faire part d'une amélioration, n'hésitez pas à contacter l'un des membres ci-dessous :  
            </p>
            <div class="team-member">
                <div class="photo-container">
                    <img src="{{ asset('images/Myriam.jpeg') }}" alt="Myriam SAADI" class="photo">
                </div>
                <div class="member-info">
                    <strong>Myriam SAADI</strong> — Cheffe de projet numérique</br>
                    <a href="mailto:myriam.saadi@etu.cyu.fr" class="email-link">📧 myriam.saadi@ville-valmont.fr</a>
                </div>
            </div>

            <div class="team-member">
                <div class="photo-container">
                    <img src="{{ asset('images/Ines.jpeg') }}" alt="Inès RIBAR" class="photo">
                </div>
                <div class="member-info">
                    <strong>Inès RIBAR</strong> — Responsable contenus et design culturel</br>
                    <a href="mailto:ines.ribar@etu.cyu.fr" class="email-link">📧 ines.ribar@ville-valmont.fr</a>
                </div>
            </div>

            <div class="team-member">
                <div class="photo-container">
                    <img src="{{ asset('images/Eleonore.jpeg') }}" alt="Éléonore GEORGEL" class="photo">
                </div>
                <div class="member-info">
                    <strong>Éléonore GEORGEL</strong> — Responsable développement technique</br>
                    <a href="mailto:eleonore.georgel@etu.cyu.fr" class="email-link">📧 eleonore.georgel@ville-valmont.fr</a>
                </div>
            </div>

            <div class="team-member">
                <div class="photo-container">
                    <img src="{{ asset('images/Ilian.jpeg') }}" alt="Ilian BALIT" class="photo">
                </div>
                <div class="member-info">
                    <strong>Ilian BALIT</strong> — Responsable animation et dynamisation du site</br>
                    <a href="mailto:ilian.balit@etu.cyu.fr" class="email-link">📧 ilian.balit@ville-valmont.fr</a>
                </div>
            </div>

            <div class="team-member">
                <div class="photo-container">
                    <img src="{{ asset('images/pdp.jpg') }}" alt="Abbes ZERROUKI" class="photo">
                </div>
                <div class="member-info">
                    <strong>Abbes ZERROUKI</strong> — Chargée de l'expérience utilisateur (UX)</br>
                    <a href="mailto:abbess.zerrouki@etu.cyu.fr" class="email-link">📧 abbess.zerrouki@ville-valmont.fr</a>
                </div>
            </div>


            <a href="mailto:valmontcitynoreply@gmail.com" class="btn btn-primary">Contact général</a>
        </div>
    </section>
</div>
    <footer class="footer">
        <p>&copy; 2025 - Valmont | Ville connectée</p>
    </footer>
</body>
<style>
    .background-image-container {
        background-image: url('{{ asset('images/valmont_ville.jpg') }}');
        background-size: cover;
        background-position: center;
        background-attachment: fixed; /* effet de défilement parallax */
        min-height: 100vh;
        padding: 30px 0;
    }
</style>
</html>
{% endblock %}