{% extends 'base.html.twig' %}

{% block title %}Résultats de recherche{% endblock %}

{% block body %}
<body>
    <header class="hero">
        {% if results is not empty %}
            <h1>Résultats de la recherche pour : </br><span>{{ results }}</span></h1>
        {% else %}
            <h1>Aucune recherche effectué</h1>
        {% endif %}
    </header>

    <section class="container">
        <h2>Résultats de la recherche : </h2>
		{% if results is empty %}
			<p>Aucune recherche effectué</p>

        {% elseif filters is not empty %}
            <p>Filtre(s) selectionné(s) :
            {% for val in filters %}
                {{ val }}
            {% endfor %}

        {% else %}
            <p>Aucun filtre selectionné</p>

            {% if objets is not empty %}
                <div class="results">
                    {% for objet in objets %}
                        <div class="card">
                            <h3>{{ objet.nom }}</h3>
                            <p><strong>Type :</strong> {{ objet.type }}</p>
                            <p><strong>Marque :</strong> {{ objet.marque }}</p>
							<p><strong>Localisation :</strong> {{ objet.localisation }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="card">
                    <h1>Aucun résultat trouvé...</h1>
                </div>
            {% endif %}
        {% endif %}
    </section>

    <footer class="footer">
        <p>&copy; 2025 - Valmont | Ville connectée</p>
    </footer>
</body>
{% endblock %}
